<ion-view view-title="所有提醒">
	<ion-nav-buttons side="primary">
      <button class="button button-icon ion-ios-arrow-left" ng-click="nvGoback()">{{lastviewtitle}}</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
		<button class="button" ng-click="openModal()">添加提醒</button>
    </ion-nav-buttons>
           
    <ion-content scroll="true">
		<div class="card" ng-repeat='alertlist in alertlist'>
			<div class="item item-divider light" style="background-color:#62C4E4;">
				{{alertlist.title}}
			</div>
			<div class="item item-text-wrap">
				时间：{{alertlist.hour}}:{{alertlist.minute}}<!-- :{{alertlist.ID}} -->
				<br/>
				详细：{{alertlist.detail}}
			</div>
			<div class="item item-divider">
				<div class="button-bar">
					<a class="button icon ion-gear-b button-outline button-small button-positive" ng-click='openModal({{alertlist}})'></a>
					<a class="button icon ion-close-round button-outline button-small button-positive" ng-click='remove({{alertlist.index}})'></a>
				</div>
		  </div>
		</div>
	</ion-content>
</ion-view>