<ion-view view-title="个人信息设置" cache-view="false">
  <ion-nav-buttons side="primary">
      <button class="button button-icon ion-ios-arrow-left" ng-click="nvGoback()">返回
      </button>
  </ion-nav-buttons>
    
  <ion-content>
   <form name="Info">
    <ion-item style="border:none; text-align:center" >
         <img ng-src="{{imgurl}}" name="Photo" ng-click="onClickCamera($event)" style="border-radius:50%; height:30%; width:30%" />
         <h2>{{BasicInfo.UserName}}</h2> <h2>{{BasicInfo.UserId}}</h2> 
    </ion-item>
    <!-- 上传照片的弹出框 -->
    <script id="my-popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-header-bar class="bar-calm">
          <h1 class="title">上传头像</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list> 
            <div class = "padding">
              <button class="button button-block button-primary " ng-click="getPhoto()">
                  照相机
              </button>
            
              <button class="button button-block button-primary " ng-click="onClickCameraPhotos()">
                  相册
              </button>
            </div>
            <div class = "padding">
              <button class="button button-block button-primary " ng-click="onClickCameraCancel()">
                  取消
              </button>
            </div>
          </ion-list>
        </ion-content>
      </ion-popover-view>
    </script>
    <!-- 上传照片的弹出框 -->
    <ion-list>
     <div class="list card">
      <ion-item class="item-stable">
        <i class="icon ion-android-arrow-dropdown"></i>
        &nbsp;
         基本信息
      </ion-item> 
      <ion-item class="item-accordion" ng-show="isShown1()">
        <div class="row">
          <div class="col" style="width:100%">
            <span class="input-label">性别</span> 
          </div>  
          <div class="col col-67">
            <!-- <label><input type="radio" name="Gender" ng-model="BasicInfo.Gender" value="1" />  男</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="Gender" ng-model="BasicInfo.Gender" value="2"/>  女</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="Gender" ng-model="BasicInfo.Gender" value="3" />  其他</label> -->
            <select ng-model="BasicInfo.Gender" ng-options="Gender.Type as Gender.Name for Gender in Genders" style="width:100%">
              <!-- <option value="">请选择</option> -->
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="input-label">出生日期</span> 
          </div>  
          <div class="col col-67" style="width:100%;background:#f4f4f4;height:34px;">
               <ionic-datepicker input-obj="datepickerObject">
                <span style="text-align:left width:100% height:100%">
                {{BasicInfo.Birthday}}
                </span>
               </ionic-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="input-label">医保类型</span> 
          </div>  
          <div class="col col-67" style="width:100%">
              <select ng-model="BasicInfo.InsuranceType" ng-options="InsuranceType.Code as InsuranceType.Name for InsuranceType in InsuranceTypes" style="width:100%">
              <!-- <option value="">-请选择-</option> -->
              </select>
          </div>
        </div>
      </ion-item>
     </div>

     <div class="list card">
      <ion-item class="item-stable" ng-click="toggle2()" ng-class="{active: isShown2()}">
        <i class="icon" ng-class="isShown2() ? 'ion-android-arrow-dropdown' : 'ion-android-arrow-dropright'"></i>
        &nbsp;
         体征信息
      </ion-item> 
      <ion-item class="item-accordion" ng-show="isShown2()">
        <div class="row">
          <div class="col">
            <span class="input-label">血型</span> 
          </div>  
          <div class="col col-67" style="width:100%">
            <select ng-model="BasicInfo.BloodType" ng-options="BloodType.Type as BloodType.Name for BloodType in BloodTypes" style="width:100%">
              <!-- <option value="">-请选择-</option> -->
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="input-label">身高(cm)</span> 
          </div>  
          <div class="col col-67" style="width:100%">
          <input class="item-input-wrapper" type="number" ng-model="BasicDtlInfo.Height" placeholder="请输入您的身高" style="width:100%">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="input-label">体重(kg)</span> 
          </div>  
          <div class="col col-67" style="width:100%">
          <input class="item-input-wrapper" type="number" ng-model="BasicDtlInfo.Weight" placeholder="请输入您的体重" style="width:100%">
          </div>
        </div>
      </ion-item>
     </div>

     <div class="list card">
      <ion-item class="item-stable" ng-click="toggle3()" ng-class="{active: isShown3()}">
        <i class="icon" ng-class="isShown3() ? 'ion-android-arrow-dropdown' : 'ion-android-arrow-dropright'"></i>
        &nbsp;<!--空格-->
         身份信息
      </ion-item> 
      <ion-item class="item-accordion" ng-show="isShown3()">
       <!--  <form name="IDInfo"> -->
          <div class="row">
            <div class="col">
              <span class="input-label">身份证号码
                <!-- <span class="error" ng-show="Info.IDNo.$error.pattern" style="color:red">*请输入正确的身份证号</span> -->
                <span class="error" ng-show="Info.IDNo.$error.pattern" style="color:red"></span>
              </span> 
            </div>  
            <div class="col col-67" style="width:100%">
            <input class="item-input-wrapper" type="number" name="IDNo" ng-model="BasicDtlInfo.IDNo" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" placeholder="请输入您的身份证号码" style="width:100%" ng-change='change(Info.IDNo.$error.pattern)'>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="input-label">国籍</span> 
            </div>  
            <div class="col col-67" style="width:100%">
            <input class="item-input-wrapper" type="text" ng-model="BasicDtlInfo.Nationality" placeholder="请输入您的国籍" style="width:100%" >
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="input-label">职业</span> 
            </div>  
            <div class="col col-67" style="width:100%">
            <input class="item-input-wrapper" type="text" ng-model="BasicDtlInfo.Occupation" placeholder="请输入您的职业" style="width:100%">
            </div>
          </div>
        <!-- </form> -->
      </ion-item>
     </div>

     <div class="list card">
      <ion-item class="item-stable" ng-click="toggle4()" ng-class="{active: isShown4()}">
        <i class="icon" ng-class="isShown4() ? 'ion-android-arrow-dropdown' : 'ion-android-arrow-dropright'"></i>
        &nbsp;<!--空格-->
         联系信息
      </ion-item> 
      <ion-item class="item-accordion" ng-show="isShown4()">
      <!-- <form name="ContactInfo"> -->
        <div class="row">
          <div class="col">
            <span class="input-label">联系电话
              <!-- <span class="error" ng-show="Info.PhoneNumber.$error.pattern" style="color:red">*请输入正确的手机号码</span> -->
              <span class="error" ng-show="Info.PhoneNumber.$error.pattern" style="color:red"></span>
            </span> 
          </div>  
          <div class="col col-67" style="width:100%">
          <input class="item-input-wrapper" type="number" name="PhoneNumber" ng-model="BasicDtlInfo.PhoneNumber" ng-pattern="/^(13[0-9]|15[0|3|6|7|8|9]|18[8|9])\d{8}$/" placeholder="请输入您的联系电话" style="width:100%" ng-change='change(Info.PhoneNumber.$error.pattern)'>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="input-label">家庭住址</span> 
          </div>  
          <div class="col col-67" style="width:100%">
          <input class="item-input-wrapper" type="text" ng-model="BasicDtlInfo.HomeAddress" placeholder="请输入您的家庭住址" style="width:100%">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="input-label">紧急联系人</span> 
          </div>  
          <div class="col col-67" style="width:100%">
          <input class="item-input-wrapper" type="text" ng-model="BasicDtlInfo.EmergencyContact" placeholder="请输入您的紧急联系人" style="width:100%">
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            <span class="input-label">紧急联系人电话
              <!-- <span class="error" ng-show="Info.ECPhoneNumber.$error.pattern" style="color:red">*请输入正确的手机号码</span> -->
              <span class="error" ng-show="Info.ECPhoneNumber.$error.pattern" style="color:red"></span>
            </span> 
          </div>  
          <div class="col col-offset-10" style="width:100%">
          <input  class="item-input-wrapper" type="number" name="ECPhoneNumber" ng-model="BasicDtlInfo.EmergencyContactPhoneNumber" ng-pattern="/^(13[0-9]|15[0|3|6|7|8|9]|18[8|9])\d{8}$/" placeholder="请输入您的紧急联系人电话" style="width:100%" ng-change='change(Info.ECPhoneNumber.$error.pattern)'>
          </div>
        </div>
        <!-- </form> -->
      </ion-item>
     </div>
    </ion-list>

    <!-- <div class="row">
      <div class="col col-25 col-offset-25">
         <button ng-click='' class="button button-block button-stable">重置</button>
      </div>
      <div class="col col-25"> -->
      <div>
         <button ng-click='SaveInfo(Info.IDNo.$error.pattern, Info.PhoneNumber.$error.pattern, Info.ECPhoneNumber.$error.pattern)' class="button button-block button-calm" style=" width:80%;margin-left:10% ">保存</button>
      </div>
      </form>
    <!-- </div> -->
  </ion-content>
</ion-view>

