<ion-view view-title="{{DoctorName}}" id = "userMessagesView">    
    <ion-content class="padding" start-y="120" style="position:absolute;">
        <div style="position:relative;bottom:{{Dialog.SMSbottom}};top:20px;">
            <ion-refresher pulling-text="下拉加载更多。。。" spinner='ripple' refreshing-text="努力加载中" on-refresh="DisplayMore()">
            </ion-refresher>
            <div ng-repeat="item in Dialog.DisplayOnes">
                <my-smsdrt time="{{item.Time}}" content="{{item.Content}}" type="{{item.IDFlag}}" face="{{item.IDFlag === 'Send' && myImage || imageURL}}"></my-smsdrt> <!-- myImage -->
            </div>
            <br><br> 
        </div>      
    </ion-content>      
    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <textarea ng-model="Dialog.SMScontent" value="" placeholder="请输入..." required minlength="1" maxlength="500" msd-elastic></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                ng-disabled="!Dialog.SMScontent || Dialog.SMScontent === ''" ng-click="submitSMS()">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
