
<ion-view view-title="风险评估详细" >
<ion-header-bar >
  <button class="button button-icon icon ion-arrow-left-a" ng-click="onClickBackward()">返回</button>
  <div class="h1 title">风险评估</div>
</ion-header-bar>

<ion-content>


  <div class="card">
    <div class="item item-text-wrap">
      <div id="riskinfo_chartdiv"></div>
    </div>
  </div>

  <!-- <div class="card">
    <div class="item item-text-wrap">
      <div id="chartdiv2"></div>
    </div>
  </div> -->

  <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-repeat ="item in newRisks | filter:{ num : whichone} ">
      <ion-slide >
        <div>
          <div class="card" >
            <div class="item item-divider">
              <h2>高血压风险描述</h2>
            </div>
                <div class="item item-text-wrap">
                  <h3>高血压等级说明</h3>
                  <p>{{ item.M1.Result }}</p>
                  <h3>风险详情</h3>  
                  <p>高血压发病率  {{ item.M1.f1 }} </p>
                  <p>高血压五年死亡率   {{ item.M1.f2 }}</p>
                  <p>心血管疾病   {{ item.M1.f3 }}</p>
                  <p>中风十年发生率   {{ item.M1.f4 }}</p>
                  <p>心衰率   {{ item.M1.f5 }}</p>
                </div>
          </div>
       </div>
      </ion-slide>

      <ion-slide >
      <div>
        <div class="card" >
          <div class="item item-divider">
            <b>糖尿病风险描述</b>
          </div>
          <div class="item item-text-wrap">
              <h3>糖尿病等级说明</h3>
              {{item.M2.Result}}
              {{item.M2.Period}}  {{item.M2.Glucose}} mmol/L
          </div>
        </div>
        </div>
      </ion-slide>

  </ion-slide-box>


</ion-content>

</ion-view >