<ion-view view-title="风险评估" >


<ion-header-bar>
  <div class="h1 title">风险评估</div>    
  <button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; showReorder = false;">
  </button>
  <button class="button button-icon ion-help-circled" ng-click="onClickEvaluation()">
    新增
  </button>
</ion-header-bar>

<!--   <ion-header-bar class="bar-balanced">
    <h2 class="title">item List</h2>
    <button class ="button button-icon ion-minus-circled" ng-click ="data.showDelete = !data.showDelete; showReorder = false;"></button>
    <button class ="button button-icon ion-navicon" ng-click ="data.showReorder = !data.showReorder; showDelete = false;"></button>
  </ion-header-bar> -->
<!--   <ion-nav-buttons side="primary">
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    
  </ion-nav-buttons> -->

  <div class="bar bar-subheader 
    item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>
<ion-pane>
  <ion-content class="has-subheader">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
  	
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder" >

      <ion-item ng-class="{'star': item.star}"  
      collection-repeat ="item in newRisks | filter: query " 
      class ="item-thumbnail-left
      item-icon-right 
      item-text-wrap"  href="#/tab/task/riskinfodetail" ng-click="storage(item.num)"><!-- #/addpatient/risk/{{item.num}} -->
      <!-- 改动url -->
      <img src="img/icon/TG0000.png"
        alt="{{ item.SortNo }} Photo">
<!--   		<h2>{{item.SortNo}}</h2> -->
      <div class="row">
        <div class="col">
            <h2>{{item.M1.AssessmentName}}</h2>
            <h3>{{item.M1.AssessmentTime}}</h3>
            <h4>{{item.M1.SBP}} / {{item.M1.DBP}} mmHg </h4>
            <!-- <p> {{item.M1.Result | limitTo: 10  }}  {{ patient.bio.length > 10 ? '&hellip;' : '' }} </p> -->
        </div>
    		<div class="col">
            <h2>{{item.M2.AssessmentName}}</h2>
            <h3>{{item.M2.AssessmentTime}}</h3>
            <h4>{{item.M2.Period}} : {{item.M2.Glucose}} mmol/L </h4>
            <!-- <p> {{item.M2.Result | limitTo: 10  }}  {{ patient.bio.length > 10 ? '&hellip;' : '' }} </p> -->
        </div>
     </div>   
      
       
      <button class="button button-clear icon ion-star button-assertive"
        ng-click="toggleStar(item)"
        ng-show="item.star"></button>
      
      <ion-option-button class="button-dark"
        ng-click="toggleStar(item)">
        <i class="icon ion-star"></i>
      </ion-option-button>      
      
      <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
      </ion-delete-button>      
      
      <ion-reorder-button class="ion-navicon"
        on-reorder="moveItem(item, $fromIndex, $toIndex)">
      </ion-reorder-button>
  		
      </ion-item>
  	</ion-list>
  </ion-content>
</ion-pane>
</ion-view>