<ion-view title="风险评估" >


<ion-nav-bar class="bar-calm nav-title-slide-ios7">   
  <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
</ion-nav-bar>

<!--   <ion-header-bar class="bar-balanced">
    <h2 class="title">item List</h2>
    <button class ="button button-icon ion-minus-circled" ng-click ="data.showDelete = !data.showDelete; showReorder = false;"></button>
    <button class ="button button-icon ion-navicon" ng-click ="data.showReorder = !data.showReorder; showDelete = false;"></button>
  </ion-header-bar> -->
<!--   <ion-nav-buttons side="primary">
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    
  </ion-nav-buttons> -->

<!--   <div class="bar bar-subheader 
    item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div> -->
  <!-- <div class="sub-bar-shadow"></div>  -->
<ion-pane>
  <ion-content >
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    
    <ion-list >

      <ion-item collection-repeat ="item in newRisks | filter: query "  item-height="108" 
       href="#/tab/task/riskinfodetail" ng-hide = " (!item.M1show)&& (!item.M2show) && (!item.M3show)" ng-click="setItemNum(item.num)">
       <h3>{{item.AssessmentTime}}</h3>
      <div class="row row-100">
       <!-- <div class="badge badge-positive">第{{item.num}}次评估</div> -->
        <div class="col m1" ng-show =" item.M1show " >
            <h4>{{item.M1.AssessmentName}}</h4>
            <!-- <h3>{{item.M1.AssessmentTime}}</h3> -->
            <!-- <h4>{{item.M1.SBP}} / {{item.M1.DBP}} mmHg </h4> -->
            <!-- <p> {{item.M1.Result | limitTo: 10  }}  {{ patient.bio.length > 10 ? '&hellip;' : '' }} </p> -->
        </div>
        <div class="col m2" ng-show =" item.M2show">
            <h4>{{item.M2.AssessmentName}}</h4>
            <!-- <h3>{{item.M2.AssessmentTime}}</h3> -->
            <!-- <h4>{{item.M2.Period}} : {{item.M2.Glucose}} mmol/L </h4> -->
            <!-- <p> {{item.M2.Result | limitTo: 10  }}  {{ patient.bio.length > 10 ? '&hellip;' : '' }} </p> -->
        </div>
        <div class="col m3" ng-show ="item.M3show">
            <h4>{{item.M3.AssessmentName}}</h4>
            <!-- <h3>{{item.M3.AssessmentTime}}</h3> -->
            
            <!-- <h4>{{item.M3.Period}} : {{item.M3.Glucose}} mmol/L </h4> -->
            <!-- <p> {{item.M2.Result | limitTo: 10  }}  {{ patient.bio.length > 10 ? '&hellip;' : '' }} </p> -->
        </div>


       

     </div>   
           
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pane>
</ion-view>

<style>
.m3 {
  background-color: rgba(38,157,128,0.1);
  border-top: 20px solid #a9e4ef;
}
.m1 {
  background-color: rgba(38,157,128,0.07);
  border-top: 20px solid #47a8bd;
}
.m2 {
  background-color: rgba(38,157,128,0.04);
  border-top: 20px solid #64b6ca;
}
</style>