<ion-view view-title="评价列表" hide-nav-bar="true">
  <ion-content>
  <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <div class="bar bar-calm item-input-inset">
     <button class="button button-icon icon ion-ios-arrow-left" style="text-align:left;padding-right:20px" ng-click="nvGoback()">返回</button> 
     <h1 class="title">评价列表</h1>
    </div>
   
    <ion-list>
    
       <ion-item class="item-avatar" ng-repeat="comment in CommentList " class="item-avatar">
            <img src="{{comment.imageURL}}">
            <h2>{{comment.Name}} </h2>
            <p>{{comment.Score}}分 {{comment.CommentTime}}</p>
            <p>{{comment.Comment}}</p>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
