 
<ion-view view-title="选择专员" hide-nav-bar="true">
    <ion-content>
      <style>
      .item-input-wrapper input[type="search"]::-webkit-search-cancel-button {
         -webkit-appearance: searchfield-cancel-button;
       }
      </style>
    <div class="bar bar-calm item-input-inset">
     <button class="button button-icon icon ion-ios-arrow-left" ng-click="nvGoback()">返回</button> 
     <h1 class="title">选择专员</h1>
    </div>

    <div class="bar item-input-inset">
       <button class="button icon-left ion-levels button-clear button-dark" ng-click="popover.show($event)"></button>&nbsp;
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="健康专员ID/姓名" ng-model="query"> 
      </label>
       <!-- <button class="button button-icon ion-funnel button-clear button-balanced" ng-click="popover1.show($event)">
      </button> -->
    </div>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
        <ion-item href='#/healthCoach/{{healthCoach.healthCoachID}}' ng-repeat="healthCoach in healthCoachList | filter:query | orderBy:orderProp:reverse" ng-click ="setCurrent(healthCoach)"  class="item-avatar item-icon-right">
            <img src="{{healthCoach.imageURL}}">
            <span class="item-note">
              评分：{{healthCoach.score}}
            </span>
            <h2>{{healthCoach.name}}</h2>
            <h2>{{healthCoach.sex|sex}}/{{healthCoach.age}}</h2>
           <!--  <p>负责：{{healthCoach.module}}</p> -->
            <p>负责：{{healthCoach.module}}高血压模块/糖尿病模块/心力衰竭模块</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item> 
    </ion-list>


    <script id="templates/popover-sort.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list">
            <div class="item item-divider"> 排序
            </div>
            <ion-radio ng-repeat="item in sideList"
                       ng-value="item.value"
                       ng-model="orderProp"
                      ng-click="sideChange(item)"
                      >
              {{ item.text }}
            </ion-radio>
          </div>
         
        </ion-content>
      </ion-popover-view>
    </script>


   <script id="templates/popover-select.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list">
            <div class="item item-divider">筛选
            </div>   
            <ion-radio ng-repeat="item in sexList"
                       ng-value="item.value"
                       ng-model="SS.selectedSex"
                      ng-change="sideChange(item)">
              {{ item.text }}
            </ion-radio>
            <button class="button button-calm button-full" ng-click='filter()'>确定</button>
          </div>
         
        </ion-content>
      </ion-popover-view>
    </script>
  </ion-content>
</ion-view>
